<!DOCTYPE html>
<html>
<head>
    <title>Fill the data</title>
</head>
<body>
    <form action="/player/form/submit " method="POST", autocomplete="on">
        <label for="your name">Player name:</label>
        <input type="text" id="event_name" name="event_name"><br><br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date"><br><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>